Presentacion.CasoLibros/Connected Services/wsLibros/wsLibros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoProducto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreProducto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imagenProducto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarLibroResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActualizarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoProducto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreProducto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imagenProducto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarLibroResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarLibros">
        <s:complexType />
      </s:element>
      <s:element name="ListarLibrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarLibrosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoLibro" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarLibroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoProducto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarLibroResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarLibro" />
  </wsdl:message>
  <wsdl:message name="InsertarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarLibro" />
  </wsdl:message>
  <wsdl:message name="ActualizarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="ListarLibrosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarLibros" />
  </wsdl:message>
  <wsdl:message name="ListarLibrosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarLibrosResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarLibro" />
  </wsdl:message>
  <wsdl:message name="ConsultarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarLibro" />
  </wsdl:message>
  <wsdl:message name="EliminarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarLibroResponse" />
  </wsdl:message>
  <wsdl:portType name="WsLibrosSoap">
    <wsdl:operation name="InsertarLibro">
      <wsdl:input message="tns:InsertarLibroSoapIn" />
      <wsdl:output message="tns:InsertarLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <wsdl:input message="tns:ActualizarLibroSoapIn" />
      <wsdl:output message="tns:ActualizarLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarLibros">
      <wsdl:input message="tns:ListarLibrosSoapIn" />
      <wsdl:output message="tns:ListarLibrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarLibro">
      <wsdl:input message="tns:ConsultarLibroSoapIn" />
      <wsdl:output message="tns:ConsultarLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <wsdl:input message="tns:EliminarLibroSoapIn" />
      <wsdl:output message="tns:EliminarLibroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsLibrosSoap" type="tns:WsLibrosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarLibro">
      <soap:operation soapAction="http://tempuri.org/InsertarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <soap:operation soapAction="http://tempuri.org/ActualizarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLibros">
      <soap:operation soapAction="http://tempuri.org/ListarLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLibro">
      <soap:operation soapAction="http://tempuri.org/ConsultarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <soap:operation soapAction="http://tempuri.org/EliminarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsLibrosSoap12" type="tns:WsLibrosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarLibro">
      <soap12:operation soapAction="http://tempuri.org/InsertarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <soap12:operation soapAction="http://tempuri.org/ActualizarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLibros">
      <soap12:operation soapAction="http://tempuri.org/ListarLibros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLibro">
      <soap12:operation soapAction="http://tempuri.org/ConsultarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <soap12:operation soapAction="http://tempuri.org/EliminarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsLibros">
    <wsdl:port name="WsLibrosSoap" binding="tns:WsLibrosSoap">
      <soap:address location="https://localhost:44394/wsLibros.asmx" />
    </wsdl:port>
    <wsdl:port name="WsLibrosSoap12" binding="tns:WsLibrosSoap12">
      <soap12:address location="https://localhost:44394/wsLibros.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>